.header {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #202020;
  box-shadow: 0 1px 1px rgb(0 0 0 / 25%);
  color: white;
  font-weight: 600;
  z-index: 1;
}

.logo {
  margin-left: 15px;
  width: 80px;
}
