.home {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 30px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search {
  margin-bottom: 20px;
  display: flex;
  font-family: "Trebuchet MS";
  align-items: center;
}

.search input {
  width: 380px;
  border: 1px solid black;
  padding: 0 20px 0 12px;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 10px;
  height: 35px;
}

.search label {
  margin-left: auto;
}

.search select {
  height: 35px;
  width: 100px;
  border-radius: 3px;
  margin-left: auto;
}

.search button {
  display: none;
  margin-left: auto;
  height: 35px;
  background: #e62429;
  width: 110px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.characters-container p {
  color: #202020;
}
