.character {
  height: 209px;
  border: 1px solid #202020;
  padding: 10px;
  display: flex;
  border-radius: 7px;
  margin-bottom: 15px;
}

.character img {
  width: 184px;
  height: 184px;
  border-radius: 7px;
}

.character strong {
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
  color: #202020;
}

.panel {
  cursor: pointer;
  display: flex;
  width: 500px;
}

